@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* COMMON STYLES */
*{
  margin: 0%;
  padding: 0%;
}
.dark-1{
  color: #131313;
}
.dark-2{
  color: #424242;
}
.dark-3{
  color: #727272;
}
.orange{
  color: #FF900E;
}
.common-headings{
  font-weight: bold;
  font-size: 2.813rem;
}
.common-descriptions{
  font-size: 1rem;
  color: #727272;
  line-height: 26px;
}
.common-btn{
  background-color: #FF900E;
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 21px 25px;
  border-radius: 8px;
  border: none;
}

/* NAVBAR STYLES */
.header{
  background-color: rgba(255, 144, 14, 0.1);
}  
.navbar{
  max-width: 1280px;
  margin: 0% auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu{
  display: flex;
  list-style: none;
}
.nav-menu a{
  text-decoration: none;
  margin-left: 70px;
  color: #424242;
  font-size: 1.125rem;
  font-weight: 500;
}

/* BANNER STYLES */
.banner{
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.banner-container{
  text-align: center;
  margin-top: 102px;
  margin-bottom: 50px;
}
.banner-title{
  font-weight: bold;
  font-size: 4rem;
}
.banner-description{
  margin: 32px 0px;
}
.banner-img{
  width: 100%;
}

/* THE TEAMS SECTION */
main{
  max-width: 1280px;
  margin: 0% auto;
}
.the-teams{
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 85px;
  margin-bottom: 130px;
  display: flex;
  gap: 73px;
  align-items: center;
}
.the-teams-image-container{
  margin-left: 61px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.the-teams-short-introduction{
  margin-right: 61px;
}
.introduction-description{
  margin-top: 26px;
  margin-bottom: 32px;
}
/* FEATURES STYLES */
.feauters{
  display: flex;
  gap: 80px;
  margin-bottom: 130px;
}
.feature-title {
  padding-left: 21px;
  margin-bottom: 24px;
  border-left: 5px solid #FF900E;
}
.feature-1st-description{
  margin-bottom: 30px;
}
.all-features{
  border-radius: 8px;
  padding: 30px 32px 30px 30px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.all-features-title{
  margin-bottom: 10px;
  font-size: 1.25rem;
  color: #131313;
}
.experience-btn{
  margin-left: -50px;
  margin-top: -200px;
}
#number{
  font-weight: bold;
  font-size: 4.063rem;
  color: #FFFFFF;
}
#experience{
  font-weight: 500;
  font-size: 1.563rem;
  color: #FFFFFF;
}
/* FACTS SECTION */
.facts-title{
  margin-bottom: 24px;
}
.rewards-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 125px;
  margin-left: 51px;
  margin-right: 51px;
  margin-top: 101px;
  margin-bottom: 180px;
}
.rewards{
  text-align: center;
  padding: 46px 37px 60px 37px;
  border: 1px solid #FF900E;
  border-radius: 8px;
}

/* SPONSOR SECTION */
.sponsor-title ,.sponsor-description{
  text-align: center;
}
.sponsor-description{
  margin-top: 24px;
  margin-bottom: 50px;
}
.sponsor-container-section{
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}
/* FOOTER PART */
.footer{
  max-width: 1280px;
  margin: 0% auto;
}
.copyright{
  font-size: 1.25rem;
  color: #424242;
  text-align: center;
  background-color: #FFF4E7;
  padding: 39px 0px;
  border-radius: 8px;
  margin-bottom: 216px;
}
@media screen and (max-width:576px) {
  .navbar,
  .nav-menu,
  .the-teams,
  .feauters,
  .sponsor-container-section{
    flex-direction: column;
  }
  .nav-menu{
    margin-top: 20px;
    text-align: center;
  }
  .nav-menu li{
    margin-bottom: 30px;
  }
  .nav-menu a{
    margin-left: 0;
    text-align: center;
  } 
  .banner{
    padding-bottom: 20px;
  }
  .banner-container{
    margin-top: 5px;
  }
  .the-teams{
    margin-top: 25px;
    margin-bottom: 30px;
    gap: 40px;
  }
  .the-teams-image-container{
    grid-template-columns: repeat(1,1fr);
    margin-left: 0px;
  }
  .the-teams-short-introduction{
    text-align: center;
    margin-right: 0px;
  }
  .side-area img{
    width: 100%;
  } 
  .experience-btn{
    margin-left: 40px;
    margin-top: 20px;
  }
  .feauters{
    margin-bottom: 30px;
  }
  .experience-btn{
    margin-left: 55px;
    margin-top: 40px; 
  }
  .rewards-container{
    grid-template-columns: repeat(1,1fr);
  }
  .facts-title{
    text-align: center;
    margin-bottom: 10px;
  }
  .facts-description{
    text-align: center;
  }
  .rewards-container{
    margin-top: 40px;
    margin-bottom: 50px;
    gap: 40px;
    border-radius: 20px;
  }
  .sponsor-container-section{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    gap: 42px;
    margin-bottom: 50px;
  }
  .copyright{
    margin-bottom: 50px;
  }
}
@media screen and (min-width:576px) and (max-width:992px){
  .feauters,
  .navbar{
    flex-direction: column;
  }
  .nav-menu a{
    margin-left: 0%;
    margin: 50px;
  }
  .nav-menu{
    margin-top: 30px;
  }
  .banner{
    padding-bottom: 20px;
  }
  .banner-container{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .the-teams{
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 74px;
  }
  .the-teams-image-container{
    grid-template-columns: repeat(2,1fr);
    margin-left: 0px;
    gap: 24px;
  }
  .the-teams-image-container img{
    width: 100%;
  }
  .the-teams-short-introduction{
    margin-right: 0px;
    text-align: center;
  }
  .feauters{
    gap: 40px;
    margin-bottom: 30px;
  }
  .side-area img{
    width: 100%;
  }
  .experience-btn{
    margin: auto 250px;
  }
  .facts-container{
    text-align: center;
  }
  .rewards-container{
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
    margin: 51px;
  }
  .sponsor-container-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 30px;
    margin-bottom: 20px;
  }
  .copyright{
    margin-top: 60px;
    margin-bottom: 60px;
  }
}